.root {
    h1 {
        color: green;
    }

    .child {
        background-color: blue;

        &:hover {
            background-color: lightblue;
        }

        h2 {
            color: green;
        }
    }
}
